---
import Layout from "../layouts/Layout.astro"

---

<Layout description="about" title="aboutページ">
  <main>
    <h1>Welcome to About Page</h1>
    <p>
      ようこそ私たちのページへ
    </p>
  </main>
</Layout>