---
import { Todo } from '../components/Todo';
import Layout from '../layouts/Layout.astro';
import "../styles/global.css"
---

<Layout description="index" title="Welcome to Astro.">
	<main>
		<Todo />
	</main>
</Layout>